$primary-col: rgb(10, 120, 350);
$secondary-col: rgb(300, 300, 300);
$tertiary-col: rgb(230, 230, 230);
$quaternary-col: rgb(0, 0, 128);
$calc-txt-col: rgb(10, 10, 10);
$link-col: rgb(100, 100, 100);
$link-visited-col: rgb(192, 192, 192);
$link-hover-col: rgb(150, 150, 150);
$link-active-col: rgb(70, 70, 100);
$shadow-col: rgb(50, 50, 50);