@import 'variables.scss';
@import 'animations.scss';
@import 'mixins.scss';

#calc-body {
  @include pageBackground;
}

#calc-els {
  opacity: 0;
  background: none;
  animation: slide 1s ease-out 0s forwards;
}

form ul li {
  list-style: none;
}

button {
  text-align: center;
}

#calc-body input {
  padding: .4em;
}

#label-and-help {
  padding: 1em;
}

#help-btn {
  @include button;
  cursor: help !important;
  padding: .5em 1em;
  margin: 0em 1em;
}

#submit-btn {
  @include button;
}