@import 'variables.scss';
@import 'mixins.scss';

#calc-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calc-back-btn {
  @include button;
  padding: .4em;
  width: 10vw;
}