@import 'variables.scss';

footer {
  background-color: $primary-col;
  padding: 3em;
}

.author-txt {
  font-size: 1.2em;
  color: $secondary-col;
  margin: .5em 1em;
}

.license-txt {
  font-size: .9em;
  color: $secondary-col;
  margin: .5em 1em;
}

.notice-txt {
  color: $secondary-col;
  margin: 2em 1em .2em;
}

footer a {
  text-decoration: none;
}

footer a:link {
  color: $link-col;
}

footer a:visited {
  color: $link-visited-col;
}

footer a:hover {
  color: $link-hover-col;
}

footer a:active {
  color: $link-active-col;
}