@use 'InitialQuestion.scss';
@import 'variables.scss';

.calc-notice {
  padding: 2.2em;
  font-size: 1em;
}

#gpa-head {
  @extend .init-q-els;
}

.gpa-calc-types-container {
  padding: .5em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gpa-calc-option {
  background-color: $primary-col;
  padding: 1em;
}

#gpa-calc-option {
  color: $secondary-col;
  padding: 1em;
  margin: 0em 1em;
  background-color: $primary-col;
  border-radius: 1.5em;
  font-weight: 500;
  box-shadow: .1em .1em .3em $shadow-col;
}

#gpa-calc-option a:link {
  background-color: $primary-col;
}

#gpa-calc-option a:visited {
  background-color: $primary-col;
}

#gpa-calc-option:hover {
  background-color: $primary-col;
}

#gpa-calc-option a:active {
  background-color: $quaternary-col;
}

#gpa-calc-option.active {
  background-color: $quaternary-col;
}

.scale-li-lbl {
  padding: 1em;
  font-weight: 500;
}

#back-btn {
  background-color: $primary-col;
  color: $secondary-col;
  font-weight: 600;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  box-shadow: .1em .1em .3em $shadow-col;
  border: none;
}

#back-btn:hover {
  cursor: pointer;
}