@use 'InitialQuestion.scss';
@import 'variables.scss';
@import 'mixins.scss';

#gpa-head {
  animation: appear .5s ease-out 0s forwards;
}

#gpa-calc-types {
  padding: .5em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gpa-calc-option {
  @include linkBtn;
}

#scale-li-lbl {
  padding: 1em;
  font-weight: 500;
}

#back-btn {
  @include button;
}