@charset "UTF-8";
@import 'variables.scss';

/* Contains global styling applicable to all components */

body {
  background-color: $primary-col;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  color: $link-col;
}

a:visited {
  color: $link-visited-col;
}

a:hover {
  color: $link-hover-col;
}

a:active {
  color: $link-active-col;
}