@import 'variables.scss';
@import 'mixins.scss';

#init-q-body {
  padding: 3em 3em;
  @include pageBackground
}

#init-q-els {
  animation: appear .5s ease-out 0s forwards;
}

#init-q-head {
  padding: 2em;
}

#calc-types {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc-option {
  @include linkBtn;
}