.initial-question-body {
  background-color: var(--tertiary-col);
}

.initial-question-heading {
  color: var(--primary-col);
  padding: 1em;
}

#calc-types {
  padding: 1em 1em 2em;
}

#calc-option {
  color: var(--secondary-col);
  padding: 1em;
  margin: 0em 1em;
  background-color: var(--primary-col);
  border-radius: 1.5em;
  font-weight: 500;
  box-shadow: .1em .1em .3em var(--shadow-col);
}

/* TODO: use this code for effect later on

#calc-types a:link {
  
}

#calc-types a:visited {

}

#calc-types a:hover {

}

#calc-types a:active {

}
*/